<div class="box">
  <h4 mat-dialog-title>Who are you?</h4>
  <div mat-dialog-content>
    <input #name type="text" name="" placeholder="Name">
    <input #surname type="text" name="" placeholder="Surname">
    <input #mobilephone type="text" name="" placeholder="Mobile Phone">
    <input #email type="text" name="" placeholder="Email">
    <input #password [type]="hide ? 'password' : 'text'" name="" [pattern]="patternNormal" [formControl]="fPassword"
           placeholder="Password" required>
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' :
      'visibility_off'}}</mat-icon>
    <mat-error *ngIf="fPassword.errors&&fPassword.errors.pattern">{{errorMgs}}</mat-error>

  </div>
  <div mat-dialog-actions>

    <button mat-mini-fab class="icon-category icon-category--add">
      <mat-icon>
        add
      </mat-icon>
    </button>
    <input type="submit" name="newaccount" value="Save">
  </div>

</div>
