<div class="box">
  <h4 mat-dialog-title>Who are you?</h4>
  <div mat-dialog-content>
    <input #name type="text" name="" placeholder="Name" [(ngModel)]="user.name">
    <input #surname type="text" name="" placeholder="Surname" [(ngModel)]="user.surname">
    <input #cellPhoneNumber type="text" name="" placeholder="Mobile Phone" [(ngModel)]="user.cellPhoneNumber">
    <input #email type="text" name="" placeholder="Email" [(ngModel)]="user.email">
    <input #password [type]="hide ? 'password' : 'text'" name="" [pattern]="patternNormal" [formControl]="fPassword"
           placeholder="Password" required [(ngModel)]="user.password">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' :
        'visibility_off'}}</mat-icon>

    <mat-error *ngIf="fPassword.errors&&fPassword.errors.pattern">{{errorMgs}}</mat-error>

    Pick your location by pointing on the map<app-map-picker (coords)="updateCoords($event)"></app-map-picker>
    <input type="number" placeholder="Range of notification (in meters)" [(ngModel)]="user.notificationRangeInMeters">

  </div>

  <div mat-dialog-actions>
      <button mat-mini-fab class="icon-category icon-category--add" title="Upload you photo ">
      <mat-icon>
        add
      </mat-icon>
     </button><input #photo type="file" accept="image/*;capture=camera" (change)="onPhotoChange($event)">
    <input type="submit" name="newaccount" value="Save" (click)="addUser()">
  </div>

</div>
