
<div class="box">
  <h4 mat-dialog-title>Who are you?</h4>
  <div mat-dialog-content>
    <input #name type="text" name="" placeholder="Name">
    <input #surname type="text" name="" placeholder="Surname">
    <input #mobilephone type="text" name="" placeholder="Mobile Phone">

  </div>
  <div mat-dialog-actions>
  <button mat-icon-button class="icon">
    <mat-icon matTooltip="delete" color="warn">add</mat-icon>
  </button>
  <input type="submit" name="newaccount" value="Save">
  </div>

</div>
