@import "~src/styles";

:host {
  background: grey;
  overflow-y: scroll;
  padding: 0 8px;

  height: calc(100vh - 80px);

  @include for-phone-only {
    height: auto !important;
  }
}

mat-card {
  margin: 8px;
}

.date {
  font-weight: 500;
  display: flex;
  align-items: center;

  mat-icon{
    margin-right: 4px;
  }
}


.card-row {
  .upper-line {
    display: flex;

  }

  .bottom-line {
    display: flex;
    color: grey;
  }
}

.spacer {
  flex: 1 1 auto;
}


.icon-category {
  margin-right: 4px !important;

  &--human {
    background: darkblue;
  }

  &--building {

    background: deepskyblue;
  }

  &--leaf {
    background: green;
  }

  &--electricity {

    background: #ffbf00;
  }

  &--danger {
    background: black;

  }

}

.icon-category[disabled=true] {
  background: gray;
  color: lightgray;

}
