@import "~src/styles";

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container > * {
  width: 50%;
  @include for-phone-only {
    width: 100%;
  }
}

.router {
  background: grey;
  overflow-y: scroll;
  padding: 0 8px;

  height: calc(100vh - 80px);

  @include for-phone-only {
    height: auto;
    min-height: calc(50vh - 80px);
  }
}
