@import "~src/styles";

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container > * {
  width: 50%;
  @include for-phone-only {
    width: 100%;
  }
}


.fire-list {
  min-height: 100vh;
  background: grey;
}
