/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*, *::after, *::before {
  box-sizing: border-box;
}



@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-desktop-up-1400 {
  @media (min-width: 1400px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}


::ng-deep .snackbar {
  &-info {
    background: #3f51b5;
    color: white;
  }

  &-error {
    color: white;
    background: red;
  }

  &-save {
    color: white;
    background: #27ae60;
  }

}
